
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h3> <strong>Your Garage</strong></h3>
    <h5 class="card-title"><%=@garage.address%></h5>
    <p class="card-text"><%=@garage.name %></p>
  </div>

  <%= link_to "edit", edit_garage_path(@garage)%>
  <%= link_to "Delete",garage_path(@garage), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

  <%= link_to "Register your car", new_garage_car_path(@garage), class: "btn btn-primary" %>
</div>
