<div class="container">
  <div class="row">
    <%@cars.each do |car|%>
      <div class="card m-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% if car.image.attached? %>
              <%= image_tag url_for(car.image), alt: car.model %>
           <% else %>
              <p> No photo </p>
           <% end %>
           <li class="list-group-item"><strong>Price: </strong><%= car.price %></li>
           <li class="list-group-item"> <strong>Capacity: </strong> <%= car.capacity %></li>
           <li class="list-group-item"> <strong>Color: </strong> <%= car.color%></li>
          </ul>
          <%= link_to "Rentar", new_car_booking_path(car), class: "btn btn-primary" %>
        </div>
      </div>
    <%end%>
  </div>
</div>
