<div class="container">
  <div class="row">
    <%@cars.each do |c|%>
      <div class="card m-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><strong>Modelo: </strong><%=c.model%></h5>
          <p class="card-text"><strong>Marca: </strong><%=c.brand%></p>
          <p class="card-text"><strong>Capacidad: </strong><%=c.capacity%></p>
          <p class="card-text"><strong>Precio: </strong><%=c.price%></p>
          <p class="card-text"><strong>Año: </strong><%=c.year%></p>
          <p class="card-text"><strong>Color: </strong><%=c.color%></p>
          <%= link_to "Rentar", new_car_booking_path(c), class: "btn btn-primary" %>
        </div>
      </div>
    <%end%>
  </div>
</div>
